@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply w-full px-2 py-2 text-sm rounded-md border border-gray-200 bg-white text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-100 placeholder:text-gray-400 dark:placeholder:text-gray-500 focus:outline-none focus:ring-1 focus:ring-blue-500 dark:focus:ring-blue-400;
    }
}